
/* CHART STYLES */

.statistics
  display flex

  &__list-nav
    flex 4

  &__content
    flex 14
    display flex
    justify-content center
    flex-direction column

  &__amchart
    width 100%
    min-height 800px