/* LOADING SPINNER */
.page-loader
  position absolute
  display flex
  align-items center
  justify-content center
  left 0
  right 0
  background-color lightgrey
  top 0
  bottom 0
  opacity 0.4

  &__text
    color #337ab7
    font-size 3rem