/*
Use `border-box` properly:
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.amchart_div {
    width: 100%;
    min-height: 600px;
}

.data-loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    background: rgba(204, 204, 204, 0.51);
    top: 0;
    bottom: 0;
}

.data-loading__text {
    color: #337ab7;
    font-size: 3rem;
}