body
    font-family Helvetica, sans-serif


html
    box-sizing border-box


*, *:before, *:after
    box-sizing inherit



/* CHART STYLES */
.amchart_div
    width 100%
    min-height 600px


/* HEADER STYLES */
.nav-header > .container-fluid
    max-width 1400px


/* MAIN CONTAINER */
.main-container
    max-width: 1400px

@import 'spinner.styl'
@import 'enrolmentSearch.styl'
@import 'rating.styl'
