body
    font-family Helvetica, sans-serif


html
    box-sizing border-box


*, *:before, *:after
    box-sizing inherit


/* HEADER STYLES */
.nav-header > .container-fluid
    max-width 1400px


/* MAIN CONTAINER */
.main-container
    max-width 1400px

@import '1-tools/spinner.styl'
@import '1-tools/helpers.styl'
@import '../../src/modules/enrolments/styles/enrolmentSearch.styl'
@import '../../src/modules/rating/styles/rating.styl'
@import '../../src/modules/statistics/styles/index.styl'
@import '../../src/modules/specoffers/styles/specoffers.styl'
