/* LOADING SPINNER */
.data-loading
  position absolute
  display flex
  align-items center
  justify-content center
  left 0
  right 0
  background rgba(204, 204, 204, 51%)
  top 0
  bottom 0


.data-loading
  &__text
    color #337ab7
    font-size 3rem
