/* CHOOSER BLOCK */
.chooser
  max-width: 175px

.rating
  display flex

  &__specoffer-chooser
    flex 6

  &__rating-list
    flex 11
    display flex
    justify-content center
    flex-direction column


/* HIGHLIGHT ROW ON HOVER */
.fixedDataTableRowLayout_rowWrapper:hover
  .public_fixedDataTableCell_main
    background-color lightgoldenrodyellow
    cursor: pointer

@keyframes highlight
  0%
    background yellow
  100%
    background none

.row
  /* HIGHLIGHT ROW ON SEARCH */
  &--higlighted
    .public_fixedDataTableCell_main
      animation highlight 5s

  /* red-line */
  &--red-state-line
    border-bottom 2px solid red
  /* blue-line */
  &--blue-lic-line
    border-bottom 2px solid blue